<a href="https://colab.research.google.com/github/duber1011/Ensayo-de-repositorio/blob/master/Copia_de_DS_Encuentro_02_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python

En este notebook vamos a recorrer algunos de los conceptos básicos de programación en general y Python en particular. Recomendamos ir haciéndolo con las diapositivas de la clase a mano como guía y con el buscador de Google como su mejor amigo. Existen muchísimos recursos de libre acceso disponibles para ayudarnos, recomendamos https://learnxinyminutes.com/docs/python3/ .


## Recomendación:
Además de realizar los ejercicios, les sugerimos fuertemente que vayan probando y modificando el código presente en este notebook. La mejor manera de aprender es meter mano, 'romper' el código e intentar entender porque dejó de funcionar. ¡No hay nada irreversible, no tengan miedo!

## 1. Variables, Tipos de Datos y Operaciones

### 1.1 Variables
Son los datos u obejetos que que definimos para trabajar en nuestro programa. Cada variable debe llevar un nombre a través del cual nos referimos a ella, los nombres deben ser únicos y, en lo posible, ser lo mas explícitos posibles para evitar confusiones.

Usando el `=` se asigna un valor a una variable. No es un igual matemático/lógico, pueden pensarlo como una flecha (<--) que asigna lo que hay del lado derecho a lo que hay del lado izquierdo.

In [0]:
# Asignamos el valor 3 a una variable que creamos, de nombre x
x = 3

# Evaluamos e imprimimos en pantalla el resultado
print(x)

3

In [0]:
# Asignamos el valor 15.7 a una nueva variable, de nombre y
y = 15.7

print(y)

15.7

In [0]:
# Podemos definir una nueva variable como la suma de dos anteriores
z = x + y

print(z)

18.7

In [0]:
# Se peude tambier asignar un valor de texto otra variable
un_texto = 'HOLA!'

print(un_texto)

HOLA!

In [0]:
# Si queremos, podemos borrar alguna variable que ya no la utilizaremos mas
un_texto = 'HOLA!'
print (un_texto)
del(un_texto)
#print(un_texto)

HOLA!

### Nota importante:
Al correr esta íltima linea, deben ver un mensaje de error. Los mensajes de error son MUY IMPORTANTES. Nos brindan información muy valiosa cuando nuestro código no funciona. En este caso, nos está avisando que no puede imprimir la variable `un_texto`, ya que la eliminamos y no está definida.

### 1.2 Tipos de Datos
Cuando definimos una variable, dependiendo el contenido que le asignamos, la misma será de un determinado tipo. Los tipos de datos más comunes de variables son: `int`,`float`,`string` y `boolean`. Veamos algunos ejemplos de cada tipo.

In [0]:
a = 42
print(type(a))

<class 'int'>

In [0]:
b = 7.8
print(type(b))

<class 'float'>

In [0]:
c = True
print(type(c))

<class 'bool'>

In [0]:
t1 = 'hola'
print(type("hola"))

t2 = '523'
print(type('t2'))

<class 'str'>
<class 'str'>

**Nota**: a pesar de ser un número, la variable `t2` es de tipo `string`. Esto se debe a que lo pusimos entre comillas.

In [0]:
# Este es un tipo especial de variable, que se utiliza para simbolizar algo 'vacio'
d = None
print(type(d))

<class 'NoneType'>

Si por algun motivo (ya veremos que esto es algo que suele suceder), uno desea explicitar el tipo de variable y no dejar que python lo asuma por si solo, esto también es posible.

In [0]:
numero = 45
print(type(numero))

# Quiero que sea un 'float' y no un int
numero = float(45)
print(type(numero))

# Quiero que sea un 'string' y no un int
numero = str(45)
print(type(numero))

<class 'int'>
<class 'float'>
<class 'str'>

In [0]:
otro_numero = 45.0
print(type(otro_numero))

# Quiero que sea un 'int' y no un 'float'
otro_numero = int(45.0)
print(type(otro_numero))

<class 'float'>
<class 'int'>

**Ejercicio**: Cambiar el tipo de la variable 'numero' a float.

In [0]:
numero = '5'

numero = float('5')

if type(numero) is float:
    print('Correcto!')
else:
    print('Convierta la valable a tipo float')

Correcto!

### 1.3 Operaciones
Con las variables que definimos, podemos realizar distintas operaciones. Dependiendo el tipo de variable, hay diferentes operaciones diponibles.

#### 1.3.1 Operaciones con números

In [0]:
# Se pueden realizar las operaciones basicas entre numeros
a = 20
b = 4
print(a+b)
print(a-b)

24
16

In [0]:
# Se pueden realizar las operaciones incluso entre distintos tipos de variables
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

24.5
15.5

In [0]:
# Notemos que estos resultados son de tipo float
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

In [0]:
# Podemos dividir dos numeros
x = 10
y = 3
z = x/y
print(z)

3.3333333333333335

In [0]:
# Notemos que, a pesar de venir de una operación entre dos enteros,
# z es de tipo float
print(type(z))

<class 'float'>

In [0]:
# Esta operación es muy usada en computación, nos devuelve el resto de la división
x = 10
y = 3
print(x%y)
print(type(x%y))

1
<class 'int'>

**Ejercicio**: Calcular el porcentaje que representa el valor 17 sobre un total de 54 y guardarlo en una variable llamada 'porcentaje'.

porcentaje = (17*100)/54
print(porcentaje)

In [0]:
porcentaje = (17*100)/54
print(porcentaje)

31.48148148148148

porcentaje = (17*100)/54
print(porcentaje)

#### Operaciones con Texto

In [0]:
txt_1 = 'Los textos'
txt_2 = ' se concatenan.'
print(txt_1 + txt_2)

Los textos se concatenan.

In [0]:
txt_3 = 'Los textos se multiplican. '
print(txt_3 * 2)

Los textos se multiplican. Los textos se multiplican.

In [0]:
b = 'Los textos'
c = ' no se restan.'
print(b - c)

TypeError: ignored

**Nota**: No nos cansaremos de decirles que presten atención a los mensajes de error.

In [0]:
# Que pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = '28'
print(b + c)

Mi edad es 28

El error nos dice que a los 'string' solo se le pueden concatenar otros 'strings' (no enteros). La manera correcta sería entonces:

In [0]:
# Que pasa si queremos sumar un número al texto?
b = 'Mi edad es '
c = 28
print(b + str(c))

Mi edad es 28

**Ejercicio**: Armar la frase 'El gran gran gran gran gran castillo mide 50 metros.' a partir de operar con las siguientes variables (viene con trampita):

In [0]:
txt1 = 'gran '
txt2 = 'El '
tet3 = 'mide '
txt4 = ' metros.'
numero = 50

frase = txt2 + (txt1*5) + "castillo " + tet3 + str(numero) + txt4
print(frase)

El gran gran gran gran gran castillo mide 50 metros.

#### 1.3.3 Operaciones Lógicas

In [0]:
variable_1 = True
variable_2 = False
print(variable_1 or variable_2)

True

In [0]:
print(not(variable_1))

False

In [0]:
variable_3 = variable_1 and variable_2
print(variable_3)

False

## 2. Listas, Loops y Condicionales

### 2.1 Listas

Son un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes '[ ]', y los objetos dentro de ellas se separan por comas ','.

In [0]:
lista_1 = [42, 4.7, True, 'Texto']
print(lista_1)

[42, 4.7, True, 'Texto']

In [0]:
# Podemos inspeccionar el largo de una lista, o sea, su cantidad de elementos
len(lista_1)

4

Podemos inspeccionar elementos de una lista accediendo a una determinada posición de la misma. Los índices de las posiciones empiezan en 0, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [0]:
print(lista_1[0])
print(type(lista_1[0]))

42
<class 'int'>

In [0]:
print(lista_1[3])
print(type(lista_1[3]))

Texto
<class 'str'>

In [0]:
print(lista_1[2])
print(type(lista_1[2]))

True
<class 'bool'>

In [0]:
# Tambien podemos selecciona una porción de lista
#(ya veremos esto en detalle mas adelante)
print(lista_1[0:3])

[42, 4.7, True]

In [0]:
# Definimos una segunda lista
lista_2 = [0, lista_1, 'Mas texto']
print(lista_2)
print(len(lista_2))

[0, [42, 4.7, True, 'Texto'], 'Mas texto']
3

Notemos que en esta segunda lista, agregamos dentro la primera. Toda la primer lista cuenta como un único elemento.

In [0]:
# Un elemento de la lista_2 es la lista_1
print(lista_2[1])

[42, 4.7, True, 'Texto']

Podemos crear listas vacias, e ir agregándole elementos con el método 'append()'

In [0]:
lista_vacia = []
len(lista_vacia)

0

In [0]:
lista_vacia = []
len(lista_vacia)

lista_vacia.append(42)
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

[42, 'un segundo item']
2

Prueben qué pasa si corren nuevamente la celda anterior (justo arriba de esta).

**Ejercicio**: Defina una lista vacia llamada 'lista_nueva' y agréguele (`append()`) los elementos a, b y c.

In [0]:
a = 8
b = 'world'
c = [12,24.5,66]

lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
print(lista_nueva)

[8, 'world', [12, 24.5, 66]]

**Detalle muy importante:** copiado de listas (que vale para listas, arreglos de Numpy y dataframes de Pandas)

In [0]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  #lista_2 ahora es igual a lista_1
lista_2[-1] = 100 #el ultimo elemento de la lista ahora es 100, con -1 seleccionamos el ultimo elemento de la lista
print(lista_1, lista_2)

[1, 2, 3, 100] [1, 2, 3, 100]

¡Se modificaron ambas listas!

In [0]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy()
lista_2[-1] = 100
print(lista_1, lista_2)

[1, 2, 3, 4] [1, 2, 3, 100]

Ahora no!

### 2.2 Loops
Los **Loops** son estructuras de codigo fundamentales en cualquier lenguaje de programación. Son bloques de código que se repiten dada una cierta cantidad de veces dada una condición.

#### 2.2.1 For
El For es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista.

In [0]:
lista_numeros = [3,55,1,876,12]

# Definimos el codigo dentro del for mediante la indentación
# (Todo lo que este corrido un 'tab' a la derecha)
for elemento in lista_numeros:
    print(elemento)

3
55
1
876
12

In [0]:
# Repitamos los mismo que la celda anteriro
# pero ahora agregemos una variable i 
# que cuente la cantidad de veces que ese corre el codigo 

lista_numeros = [3,55,1,876,12]

# La iniciamos en cero
i = 0

for elemento in lista_numeros:
    
    # Le sumamos 1 cada vez que entra
    i = i+1
    print(elemento)
print("el valor de i es: ",i)

3
55
1
876
12
el valor de i es:  5

In [0]:
print(i)

5

También podemos recorrer listas de texto. Presten atencion al siguiente codigo, e intenten precedir el resultado antes de correr la celda.

In [0]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

# Este print esta fuera del for, no está indentado
print(nueva_lista)

['Mi nombre es Ernesto', 'Mi nombre es Camilo', 'Mi nombre es Violeta']

**Ejercicio**: Genere una lista llamada 'numerotes' que contenga el cuadrado de cada elemento en la lista 'numeritos'.

In [1]:
numeritos = [3,1,5,7,12,10,17,4,22]

numerotes = []

for cuadrado in numeritos:
    numerotes.append(cuadrado*cuadrado)    
print("La lista numerotes es: ",numerotes)

La lista numerotes es:  [9, 1, 25, 49, 144, 100, 289, 16, 484]


#### 2.2.2 While
El while repite un bloque de código mientras se cumpla una cierta condición que le ponemos. Para mayor claridad, pondremos la condición dentro de parentesis '()'.

In [0]:
numero = 1

while (numero < 5):
    print(numero)
    numero = numero + 1

1
2
3
4

In [0]:
# La condición debe ser una operación lógica y dar como resultado un booleano
print(2 < 5)
type(2 < 5)

True

bool

In [0]:
print(5 < 5)
type(5 < 5)

False

bool

**Ejercicio**: Decida si quiere ejecutar el siguiente bloque de código.

In [0]:
numero = 1

while (numero < 30): # while (numero > 0)
    numero = numero + 1
print("No caí en el ciclo infinito con la condición while del comentario")
print("El número de pasadas en este ciclo fue: ",numero)

No caí en el ciclo infinito con la condición while del comentario
El número de pasadas en este ciclo fue:  30

Si decidió ejecutarlo (o corrió la celda antes de leer la consigna), ¡felicitaciones, usted ha colgado por primera vez un programa! Pero como ya dijimos, hay que probar y equivocarse, nada es irreversible. Vaya a la solapa 'Kernel' del menú y seleccione 'Interrupt'. Lo que sucuede es que la condición del `while` será siempre cierta, por ende nuestro programa se quedará repitiendo el bloque de codigo dentro del loop indefinidamente. Puede averiguar cuantas iteraciones realizo la maquina inspeccionando la variable 'numero':

¡Notar qué rápido la computadora hace algunas operaciones!

### 2.3 Condicionales
Los condicionales son un bloque de codigo que se ejecuta solo en el caso que se cumpla una dada condición.

### 2.3.1 If
El condicional más simple es el `if`. Nuevamente para mayor claridad escribiremos la condicion entre parentesis (), aunque esto no es necesario.

In [0]:
valor = 15

if (valor > 10):
    print('El valor el mayo que 10')

El valor el mayo que 10

La condición que escribimos debe ser una operación lógica que da como resultado un booleano.

In [0]:
print(15 > 10)

True

In [0]:
print(type(15 > 10))

<class 'bool'>

### 2.3.2 If, Else
A este condicional se le peude agregar otro bloque de codigo que se ejecute si la condición exigida NO se cuemple. Esto se logra mediante la expresión 'else'.

In [0]:
nombre = 'Pedro'

if (nombre == 'Juan'):
    print('Esta persona se llama Juan')
else:
    print('Esta persona NO se llama Juan')

Esta persona NO se llama Juan

In [0]:
'Juan'=='Pedro'

False

### 2.3.3 If, Elif, Else
A esta estructura se le pueden sumar tantas condiciones encadenadas como uno desee, mediante la expresión `elif`. El orden en que se van chequeando las condiciones depende de su posición, priemero se chequea el `if`, luego el primer `elif`, luego el segundo, y así sucesivamente.

In [0]:
edad = 20

if (edad < 18):
    print('Esta persona tiene menos de 18 años')
elif (edad > 18):
    print('Esta persona tiene mas de 18 años')
else:
    print('Esta persona tiene justo 18 años')

**Ejercicio**: Escriba un bloque de código que, dado un número, imprima la frase 'El numero es par' si el número es par o la frase 'El numero es impar' si no lo es.

In [0]:
numero = 3245618

if numero % 2 == 0:
    print("El número",numero,"es par")
else:
    print("El número",numero,"es impar")

El número 3245618 es par

### 2.4 Combinando estructuras de código
Las estructuras de loops y condicionales que aprendimos se pueden combinar para generar comportamientos más complejos.

In [0]:
lista_de_edades = [4,20,15,29,11,42,10,18]
lista_mayores = []

# Queremos armar una lista solo con las edades mayores o iguales a 18
for edad in lista_de_edades:
    if (edad >= 18):
        # Agremos a la lista de mayores
        lista_mayores.append(edad)

print(lista_mayores)

[20, 29, 42, 18]

## Ejercicios integradores y de repaso

A continuación dejamos muchos ejercicios. ¡No se preocupen si no pueden hacer todos!

**Ejercicio**: ¿Qué es un *float*?¿Qué operaciones se pueden hacer con ellos?

Un float es un número decimal con el cual se pueden realizar cáculos matemáticos.

**Ejercicio**: ¿Qué es un *string*?¿Qué operaciones se pueden hacer con ellos? Escribir algunos ejemplos.

Un string es una cadena de texto. Se utilizan bien sea para determinar variables tipo texto como nombres, apellidos, colores, religion, etc.

In [0]:
a = 45.98
b = 23.2
c = a + b
print(type(c), c)

nombre = 'Camila'
apellido = 'Pumarejo'
nombre_completo = nombre + "_" + apellido
print(type(nombre_completo), nombre_completo)

<class 'float'> 69.17999999999999
<class 'str'> Camila_Pumarejo

**Ejercicio**: 
* ¿cuáles son las operaciones con booleanos básicas? Pistas: `and`, `or`.
* ¿Qué pasa si sumás, restás, multiplicás o dividís booleanos?

. Las operaciones básicas con booleanos son: 

- Producto lógico, o intersección.
- Suma lógica o unión.
- Negación, complementación o inversión.

. Lo que sucede si al operar booleanos es:

- si se suma: True=1 y False=0 por lo tanto True+True=2 y True+False=1
- si se resta: True-True=0 y True-False=1
- si se multiplica: True*True=1 y True*False=0
- si se divide: True/True=1.0 False/True=0.0 

Nota: es evidente que hay una restricción a la hora de dividir ya que una división nunca puede ser por cero; es decir, no puede dividisrse por False ya que este es interpretado como un cero. Si se realiza dicha operación, mostrará un error ya que será una operación inválida.

Operaciones Booleanas Básicas

In [0]:
print(True*True)
print(True*False)
print(False*False)
print(True/True)
print(False/True)
print(True+True)
print(True+False)
print(False+False)
print(True-True)

1
0
0
1.0
0.0
2
1
0
0

**Ejercicio**: Hacer una declaración if/else que compare dos variables y que decida cuál es mayor.

In [0]:
A = 3
B = 4
if A>B:
    print('A es mayor a B' )
else:
    print('B es mayor a A')

B es mayor a A

**Ejercicio**: Dada la siguiente lista de numeros:

In [0]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']
print(numeros_en_texto)

['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']

Calcule la suma de los unos (1) y los tres (3) en esta lista. Hay muchas formas de hacerlo, si encuentra más de una, mejor. El resultado es 210.

In [0]:
numeros_en_texto = ['2', '3', '2', '3', '2', '2', '2', '2', '3', '2', '3', '1', '3', '1', '2', '2', '2', '2', '2', '2', '2', '2', '1', '2', '3', '2', '2', '2', '2', '1', '2', '3', '2', '2', '3', '2', '3', '3', '2', '2', '1', '3', '3', '2', '3', '2', '2', '1', '2', '1', '1', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '1', '2', '2', '3', '2', '2', '2', '2', '1', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '3', '2', '2', '3', '3', '1', '1', '3', '2', '1', '2', '2', '2', '1', '1', '2', '2', '2', '2', '2', '2', '2', '3', '3', '1', '3', '3', '3', '2', '2', '2', '2', '2', '2', '2', '3', '3', '2', '2', '3', '2', '2', '2', '2', '2', '3', '3', '2', '2', '1', '3', '2', '2', '2', '3', '2', '3', '1', '3', '3', '2', '3', '3', '2', '2', '2', '2', '2', '2', '1', '2', '2', '1', '2', '3', '2', '1', '3', '1', '2', '3', '3', '3', '2', '3', '1', '3', '2', '3', '1', '2', '2', '2', '3', '3', '2', '2', '2', '2', '2', '3', '1', '2', '3', '3', '2', '2', '3', '2', '2', '2', '3', '2', '2', '2', '2', '1', '2', '3', '1', '3', '2', '2', '3', '3', '3', '2', '2', '1', '1']


suma = 0
j=0

for i in numeros_en_texto:
    j = j + 1
    if int(i) == 1:
        suma = suma + 1
    elif int(i) == 3:
        suma = suma + 3
    else:
      continue
print(suma)
print("La lista tiene: ",j, "números")

210
La lista tiene:  210 números

**Ejercicio**: 
* Hacer un for loop que le sume uno a todos los elementos de la lista `A = [0,1,2,3,4]` y lo imprima.
* Hacer un for loop que le sume uno a todos los elementos de la lista `A = [0,1,2,3,4]` y lo guarde en una lista nueva B. Googlear: append.
* ¿Qué hace el comando *range*?

In [0]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo imprima.
A = [0,1,2,3,4]

for i in A:
  i = i + 1
  print(i)

1
2
3
4
5

In [0]:
# Hacer un for loop que le sume uno a todos los elementos de la lista A = [0,1,2,3,4] y lo guarde en una lista nueva B. Googlear: append.
A = [0,1,2,3,4]
B = []

for i in A:
  i = i + 1
  B.append(i)
print(B)

[1, 2, 3, 4, 5]

In [0]:
# ¿Qué hace el comando *range*?
Genera una secuencia virtual de números enteros y sirve para hacer conteos dentro de intervalos.

**Ejercicio**: Escribir una rutina que imprima aquellos elementos de la lista *a* que son menores que 10.
Pistas: *for*, *if*

In [0]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]

b = []

for i in a:
  if i < 10:
    b.append(i)
print(b)

[1, 1, 2, 3, 5, 8, 8]

**Extras**: en lugar de imprimir los elementos de a uno, armar una nueva lista con aquellos elementos que sean menores a 10. ¿Cómo filtran elementos repetidos?

In [0]:
a = [1, 1, 2, 3, 5, 8, 8, 13, 21, 34, 34, 55, 89]

b = []

for i in a:
  if i < 10:
    b.append(i)
    list(set(b))
print(b)

c = set(b)
print(c)

[1, 1, 2, 3, 5, 8, 8]
{1, 2, 3, 5, 8}

**Ejercicio**: dadas dos listas *a* y *b*, armar una lista con:
* Con todos los elementos de *a* y *b*
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor
* Con todos los elementos de *a* y *b*, ordenados de mayor a menor
* Con todos los elementos de *a* y *b*, ordenados de menor a mayor y sin elementos repetidos
* Con todos los elementos que están en ambas listas
* Con todos los elementos que NO están en ambas listas

In [0]:
a = [12,3,5,12,8,9,25,12,1,3,4,5,17,15]
b = [3,5,7,8,45,8,9,16,1,11,30,41,2,3,15,1,29,22]

# Lista nueva con los elementos de las listas a y b 
c = a + b 
print("La lista que contiene TODOS los elementos es: ",c)

# Lista con los elementos de a y b; ordenados de menor a mayor
d = sorted(c)
print("La lista con los datos ordenadosde menor a mayor es: ",d)

# Lista con los elementos de a y b; ordenados de mayor a menor
d.sort(reverse = True)
print("La lista con los datos ordenadosde mayor a menor es: ",d)

# Elementos de a y b; ordenados de menor a mayor y sin elementos repetidos 
e = set(d)
print("De menor a mayor y sin elementos repetidos: ",e)

# Intersección. Elementos que estan en ambas listas
intersección = list(set(a) & set(b))
print("Los elementos que están en ambas listas son: ",intersección)

# Elementos que no están en ambas listas
excluidos = []
for i in c:
  if i != 1 and i != 3 and i != 5 and i != 8 and i != 9 and i != 15:
    excluidos.append(i)
    
excluidos_SR = set(excluidos)
print("Los elementos que no están en ambas listas son: ",excluidos_SR)

La lista que contiene TODOS los elementos es:  [12, 3, 5, 12, 8, 9, 25, 12, 1, 3, 4, 5, 17, 15, 3, 5, 7, 8, 45, 8, 9, 16, 1, 11, 30, 41, 2, 3, 15, 1, 29, 22]
La lista con los datos ordenadosde menor a mayor es:  [1, 1, 1, 2, 3, 3, 3, 3, 4, 5, 5, 5, 7, 8, 8, 8, 9, 9, 11, 12, 12, 12, 15, 15, 16, 17, 22, 25, 29, 30, 41, 45]
La lista con los datos ordenadosde mayor a menor es:  [45, 41, 30, 29, 25, 22, 17, 16, 15, 15, 12, 12, 12, 11, 9, 9, 8, 8, 8, 7, 5, 5, 5, 4, 3, 3, 3, 3, 2, 1, 1, 1]
De menor a mayor y sin elementos repetidos:  {1, 2, 3, 4, 5, 7, 8, 41, 9, 11, 12, 45, 15, 16, 17, 22, 25, 29, 30}
Los elementos que están en ambas listas son:  [1, 3, 5, 8, 9, 15]
Los elementos que no están en ambas listas son:  {2, 4, 7, 41, 11, 12, 45, 16, 17, 22, 25, 29, 30}

**Ejercicio**: Para googlear:
* ¿Qué es un diccionario? Escribir un ejemplo en una celda.

Un Diccionario es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones. Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

In [0]:
# Ejemplo diccionario

# 1) Para definir un diccionario, se encierra el listado de valores entre llaves. 
#Las parejas de clave y valor se separan con comas, y la clave y el valor se separan con dos puntos.

diccionario = {'nombre' : 'Carlos', 'edad' : 22, 'cursos': ['Python','Django','JavaScript'] }


# 2) Podemos acceder al elemento de un Diccionario mediante la clave de este elemento, como veremos a continuación:

print (diccionario['nombre']) #Carlos
print (diccionario['edad'])#22
print (diccionario['cursos']) #['Python','Django','JavaScript']


# 3) También es posible insertar una lista dentro de un diccionario. Para acceder a cada uno de los cursos usamos los índices:

print (diccionario['cursos'][0])#Python
print (diccionario['cursos'][1])#Django
print (diccionario['cursos'][2])#JavaScript


# 4) Para recorrer todo el Diccionario, podemos hacer uso de la estructura for:

for key in diccionario:
  print (key, ":", diccionario[key])

Carlos
22
['Python', 'Django', 'JavaScript']
Python
Django
JavaScript
nombre : Carlos
edad : 22
cursos : ['Python', 'Django', 'JavaScript']